extends templates/layout

block content
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Panel de Control
    link(rel="stylesheet", href="/styles.css")
  body
    .dashboard
      h2 Bienvenido, a Concesionario los Pallos #{user}
      p Acceso al sistema de concesionario de vehículos.
      a(href="/auth/logout")
        button(type="submit") Cerrar Sesion
       
