extends templates/layout

block content

    .vehiculos
        .vehiculo 
            img(src="/images/vehiculos/vehiculo-1.png")
            .vehiculo-info
                p Nombre
                p Marca
                p Modelo
                p Año 
            button Borrar
            button Editar
        .vehiculo 
            img(src="/images/vehiculos/vehiculo-1.png")
            .vehiculo-info
                p Nombre
                p Marca
                p Modelo
                p Año 
        .vehiculo 
            img(src="/images/vehiculos/vehiculo-1.png")
            .vehiculo-info
                p Nombre
                p Marca
                p Modelo
                p Año 
        .vehiculo 
            img(src="/images/vehiculos/vehiculo-1.png")
            .vehiculo-info
                p Nombre
                p Marca
                p Modelo
                p Año
        .vehiculo 
            img(src="/images/vehiculos/vehiculo.jpg")
            .vehiculo-info
                p Nombre
                p Marca
                p Modelo
                p Año