body
        header
            img(src="/images/logo1.png" alt="Logo concesionario") 
        .buttons-container
            button.button VEHÍCULO
            button.button CLIENTE
            button.button COMPRA
            button.button VENTAS 