head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Los Pallos
    link(rel="icon" href="/images/logo2.png" type="image/x-icon") 
    style 
        include ../css/styles.css
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
