body
        header
            img(src="/images/logo1.png" alt="Logo concesionario") 
        .buttons-container
            a(href="/vehiculos") 
                button.button VEHÍCULOS
            button.button CLIENTE
            button.button COMPRA
            button.button VENTAS 