extends ../templates/layout

block content 

    form(action="/compras/add", method="post") 
        .mb-3
            label.form-label(for="Cliente") Cliente:
            select.form-control(name="ID_Cliente")
                each cliente in clientes
                    option(value=cliente.ID_Cliente)= cliente.Nombre
        .mb-3
            label.form-label(for="Vehiculo") Vehículo:
            select.form-control(name="ID_Vehiculo")
                each vehiculo in vehiculos
                    option(value=vehiculo.ID_Vehiculo)= vehiculo.Marca + " - " + vehiculo.Modelo
        .mb-3
            label.form-label(for="Fecha_Compra") Fecha de Compra:
            input.form-control(type="date", name="Fecha_Compra", required)
        .mb-3
            label.form-label(for="Precio_Compra") Precio:
            input.form-control(type="number", name="Precio_Compra", required)
        button.btn.btn-primary(type="submit") Añadir


