extends ../templates/layout

block content 

    form(action="/alumnos/add", method="post") 
            .mb-3
                label.form-label(for="Marca") Marca:
                input.form-control(type="text", name="Marca", required)
            .mb-3
                label.form-label(for="Modelo") Modelo:
                input.form-control(type="text", name="Modelo", required)
            .mb-3
                label.form-label(for="Anio") Año:
                input.form-control(type="number", name="anio",required)
            .mb-3
                label.form-label(for="Combustible") Combustible:
                input.form-control(type="number", name="Precio",required)
            .mb-3
                label.form-label(for="Precio") Precio:
                input.form-control(type="number", name="Combustible",required)
            button.btn.btn-primary(type="submit") Enviar
