extends ../templates/layout

block content
    form(action="/ventas/add", method="post") 
        .campo
            label.form-label(for="ID_Vehiculo") Vehículo:
            select.form-control(name="ID_Vehiculo")
                each vehiculo in vehiculos
                    option(value=vehiculo.ID_Vehiculo)= `${vehiculo.Marca} ${vehiculo.Modelo}`
                    
        .campo
            label.form-label(for="ID_Cliente") Cliente:
            select.form-control(name="ID_Cliente")
                each cliente in clientes
                    option(value=cliente.ID_Cliente)= cliente.Nombre

        .campo
            label.form-label(for="Fecha_Venta") Fecha:
            input.form-control(type="date", name="Fecha_Venta")
            
        .campo
            label.form-label(for="Total") Total:
            input.form-control(type="number", name="Total", step="0.01")
            
        button.btn.btn-primary(type="submit") Añadir Venta
