extends ../templates/layout

block content
    form(method="post") 
        .campo
            label(for="Fecha_Venta") Fecha:
            input(type="text", name="Fecha_Venta", value=venta.Fecha_Venta, disabled)
        
        .campo
            label(for="Total") Total:
            input(type="text", name="Total", value=venta.Total, disabled)
        
        .campo
            label(for="Vehiculo") Vehículo:
            input(type="text", name="ID_Vehiculo" value=venta.ID_Vehiculo, disabled)
        
        input(type="hidden", name="id", value=venta.ID_Venta)
        
        button.del(type="submit") Borrar
