extends ../templates/layout

block content 

    form(method="post") 
        .campo
            label(for="Precio_Venta") Precio:
            input(type="text", name="Total" value=venta.Total)
        .campo
            label(for="Vehiculo") Vehiculo:
            input(type="text", name="ID_Vehiculo" value=venta.ID_Vehiculo)
        input(type="hidden", name="id", value=venta.ID_Venta)
        button.edit(type="submit") Editar
