header{
  height: 150px;
  background-color: #607d8b;
  display: flex;
  gap: 30PX;
  align-items: center;
  line-height: 30px;
}

header img {
  height: 150px;
}

header a {
  width: 150px;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

header a:hover {
  background-color: #435761;
  transition: ease 0.3s;
}

header a:active {
  background-color: #435761;
}

footer{
  height: 150px;
  background-color: #648291;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 10px;
}

footer img {
  height: 75px;
}

/* Vehiculos */

.vehiculos {
  padding: 30px;
  background-color: #cfd8dc;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.vehiculo {
  width: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #BDBDBD;
  border-radius: 20px; 
}

.vehiculo img{
  width: auto;
  height: 200px;
  border-radius: 20px;
}

.vehiculo-info p{
  font-size: 20px;
  margin: 15px 0;
}

.vehiculo-btn{
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  gap: 10px;
}

.vehiculo-btn button{
  width: 100px;
  height: 50px;
  border-radius: 15px;
  border: none;
}

.del{
  background-color: rgb(243, 48, 48);
}

.edit{
  background-color: rgb(64, 165, 148);
}

/* Ventas */

.ventas{
  background-color: #cfd8dc;
}

.venta{
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5px;
  flex-direction: column;
  overflow-y: hidden;
  
  border-radius: 5px;
  background-color:#BDBDBD;
  padding: 5px;
  margin-left: 100px;
  transition: all 0.5s;

}

.venta:hover{
  height: 150px;
  transition: all 0.5s;
}

.venta-info{
  display: flex;
  flex-direction: row;
}

.venta-cliente-info {
  display: flex;
  flex-direction: row;
}
.venta-vehiculo-info {
  display: flex;
  flex-direction: row;
}