extends ../templates/layout

block content 

    form(action="/vehiculos/add", method="post") 
            .campo
                label(for="Marca") Marca:
                input(type="text", name="Marca")
            .campo
                label(for="Modelo") Modelo:
                input(type="text", name="Modelo")
            .campo
                label(for="Anio") Año:
                input(type="text", name="anio")
            .campo
                label(for="Combustible") Combustible:
                input(type="text", name="Precio")
            .campo
                label(for="Precio") Precio:
                input(type="text", name="Combustible")
            button.edit(type="submit") Enviar
