extends ../templates/layout

.vehiculos
        .vehiculo 
            img(src="/images/vehiculos/vehiculo-1.png")
            .vehiculo-info
                p Nombre
                p Marca
                p Modelo
                p Año 
            button Borrar
            button Editar