extends ../templates/layout

block content 

    form(action="/clientes/add", method="post") 
            .campo
                label(for="Nombre") Nombre:
                input(type="text", name="Nombre", required)
            .campo
                label(for="Telefono") Telefono:
                input(type="number", name="Telefono", required)
            .campo
                label(for="Direccion") Direccion:
                input(type="text", name="Direccion", required)
            button.edit(type="submit") Enviar
