extends ../templates/layout

block content 

    form(action="/clientes/add", method="post") 
            .campo
                label.form-label(for="Nombre") Nombre:
                input.form-control(type="text", name="Nombre", required)
            .campo
                label.form-label(for="Telefono") Telefono:
                input.form-control(type="number", name="Telefono", required)
            .campo
                label.form-label(for="Direccion") Direccion:
                input.form-control(type="text", name="Direccion", required)
            button.btn.btn-primary(type="submit") Enviar
