extends ../templates/layout

block content 

    form(method="post") 
        .campo
            label.form-label(for="Nombre") Nombre:
            input.form-control(type="text", name="Nombre" value=cliente.Nombre, disabled)
        .campo
            label.form-label(for="Telefono") Telefono:
            input.form-control(type="text", name="Telefono" value=cliente.Telefono, disabled)
        .campo
            label.form-label(for="Direccion") Direccion:
            input.form-control(type="text", name="Direccion" value=cliente.Direccion, disabled)
        input(type="hidden", name="ID_Cliente", value=cliente.ID_cliente)
        button.del(type="submit") Editar
